---
import PageLayout from '@layouts/PageLayout.astro';
---

<PageLayout
  title="For Hite - Exiles.prx - Andrew Campbell"
  description="Interested in hiring me? Let's connect!"
>
  <main>
    <p>
      I am currently available for freelance work! If you are in need of a
      developer that values your company and strives for high-quality software,
      please reach out to me at <a href="https://dot.cards/adcampbell">Dot.</a> or
      <a href="mailto:exiles.prx@gmail.com">email</a>. My expertise includes web
      development, Linux applications, and more. For more details, see my <a
        href="/">about</a
      > section. You can also review my
      <a
        href="https://docs.google.com/document/d/1co1tjx6uP4Ngb9VbFKdvrRfdAALxCTUptJKC36N8uoo/edit?usp=sharing"
        >resume</a
      >
    </p>

    <h2>Looking for a valuable business relationship?</h2>
    <p>
      I own
      <a href="https://soupybutter.com">Soupy Butter</a>, a technology-based
      company dedicated to delivering innovative solutions for small businesses.
      We specialize in:

      <ul>
        <li>Web Development</li>
        <li>SaaS</li>
        <li>Cloud Services</li>
        <li>DevOps</li>
        <li>Digital Transformation</li>
        <li>Product Development</li>
        <li>Mobile App Development</li>
        <li>Consulting</li>
      </ul>
      Looking for something different? <a href="mailto:sales@soupybutter.com"
        >Contact us</a
      > and lets discuss how we fulfill your needs.
    </p>

    <h3>Why hire us?</h3>
    <p>
      At
      <a href="https://soupybutter.com">Soupy Butter</a>
      , we provide software solutions that add high value to your business, making
      you feel warm and cozy like eating a bowl of soup on a cold winter day. In
      addition, we ensure a buttery smooth experience for your clients, whether internal
      or external. We care about our work! When you succeed, we succeed, and vice
      versa. If your company is looking for high-quality work, consider contacting
      <a href="mailto:sales@soupybutter.com">Soupy Butter</a>.
    </p>
  </main>
</PageLayout>
