---
import Layout from '@layouts/Layout.astro';
import Landing from '@components/Landing.astro';
---

<Layout
  title="Astro Portfolio Theme"
  description="A basic portfolio theme built with Astro and Tailwind CSS."
>
  <main>
    <Landing />
  </main>
</Layout>
