---
import Layout from '@layouts/Layout.astro';
import Landing from '@components/Landing.astro';
---

<Layout
  title="Exiles.prx - Andrew Campbell"
  description="My personal portfolio website, showcasing my work and projects."
>
  <main>
    <Landing />
  </main>
</Layout>
