---
import PageLayout from '@layouts/PageLayout.astro';
---

<PageLayout
  title="Portfolio - Exiles.prx - Andrew Campbell"
  description="A portfolio of my work and projects."
>
  <main>
    <p>Welcome to my portfolio!</p>

    <p>
      My portfolio section is currently under construction as I prepare to
      showcase my projects. In the meantime, you can learn more about the
      services I offer <a href="/for-hire">here</a> or continue reading to discover
      what I have been up to.
    </p>

    <h2>Tech Stack</h2>

    <p>
      I enjoy working with a variety of technologies. Here are some of my
      favorites:
    </p>

    <ul>
      <li>
        <strong>Languages:</strong> PAWN, PHP, TypeScript/JavaScript, Zig, Python,
        Haskell, Bash, Go, Lua, C#, Java
      </li>
      <li>
        <strong>Databases:</strong> MariaDB, MySQL, Postgres, MongoDB, EventStore
      </li>
      <li>
        <strong>Frameworks:</strong> Laravel, Vuejs, Reactjs, Express, Nuxtjs, Zend,
        CakePHP, Phalcon
      </li>
      <li>
        <strong>Other:</strong> Linux, Docker, GitLab workflows, Nodejs, Nginx, CI/CD,
        DevOps, Performance Engineering (PE), Test-Driven Development (TDD), Domain-Driven
        Design (DDD), Agile methodologies (Scrum, Kanban)
      </li>
    </ul>

    <h2>Projects</h2>

    <p>
      Below are some of the projects I've been working on. If you have a project
      and need assistance, feel free to send me a message!
    </p>

    <h3>Blockchain</h3>

    <p>
      I love to learn and explore, so I wrote a blockchain in TypeScript for
      fun. Explore the code at <a href="https://github.com/exilesprx/blockchain"
        >blockchain</a
      >.
    </p>

    <h3>Linux</h3>

    <p>
      I always ran Linux, but not on my main desktop or laptop. That changed in
      2023. I decided to leave Windows and immerse myself in Linux because I've
      always loved it. Gaming has been the only blocker. However, gaming on
      Linux has gotten much better, so I took the plunge and I don't regret it
      one bit!
    </p>

    <p>
      While you might not see projects explicitly related to Linux, I am always
      focused on learning anything Linux.
    </p>

    <h2>Educational</h2>

    <h3>Haskell</h3>

    <p>
      I recently delved into pure functional programming with my first language
      of choice being Haskell. I aim to explore a pure functional language and
      understand its benefits. Check out
      <a href="https://github.com/exilesprx/vigilant-carnival"
        >vigilant carnival</a
      >.
    </p>

    <h3>Exercism, Advent of Code, Project Euler</h3>

    <p>
      I enjoy using each listed platform to learn new languages. They provide
      interesting and challenging problems to work through. Sometimes, you learn
      more than just a programming language!
    </p>

    <h2>Books</h2>

    <p>
      I value empirical evidence, exploring concepts from books to gauge their
      practicality in real world. The following books have significantly
      influenced my perspective on software engineering.
    </p>

    <ul>
      <li>Domain Driven Design</li>
      <li>Implementing Domain Driven Design</li>
      <li>Growing Object-Oriented Software</li>
      <li>A Philosophy of Software Design</li>
      <li>Building Microservices</li>
      <li>Modern Software Engineering</li>
      <li>Clean Code</li>
      <li>Team Topologies</li>
      <li>Design Patterns</li>
      <li>Project Phoenix</li>
      <li>Accelerate: The science of lean software and DevOps</li>
    </ul>

    <p>
      Have a project in mind? Don't hesitate to reach out! Let's discuss how I
      can help you.
    </p>
  </main>
</PageLayout>
