---
import PageLayout from '@layouts/PageLayout.astro';
---

<PageLayout
  title="Portfolio"
  description="A portfolio of my work and projects."
>
  <main>
    <p>Welcome to my portfolio!</p>

    <p>
      My portfolio section is currently under construction as I prepare to
      showcase my projects. In the meantime, you can learn more about the
      services I offer here: <a href="https://soupybutter.com/services"
        >Soupy Butter</a
      >
    </p>

    <p>
      Have a project in mind? Don't hesitate to reach out! Let's discuss how I
      can help you.
    </p>
  </main>
</PageLayout>
