---
import PageLayout from '@layouts/PageLayout.astro';
---

<PageLayout
  title="Astro Portfolio Theme"
  description="A basic portfolio theme built with Astro and Tailwind CSS."
>
  <main>
    <p>
      Lorem ipsum dolor sit amet. Qui temporibus blanditiis et deserunt labore
      sit tempora velit. Aut cupiditate ipsam non veniam commodi quo saepe
      eligendi in expedita assumenda vel quaerat numquam in sint nostrum. Ut
      sunt quibusdam ut nihil velit et pariatur reprehenderit et consequatur
      molestiae aut voluptatem sint et voluptatem velit At possimus
      necessitatibus.
    </p><p>
      Non quas galisum sed reprehenderit aliquid qui eligendi nihil in illo
      asperiores sit dignissimos iure. Aut beatae dolor et dolor consequatur et
      tempore mollitia qui explicabo voluptatum est molestiae architecto et
      pariatur dolores. Et nihil nihil qui sint cumque eos Quis explicabo quo
      quia adipisci sed consequatur quae aut magnam tempore rem tempore
      suscipit. Aut mollitia doloremque in assumenda corrupti ad fugiat
      voluptatem est incidunt explicabo ut explicabo officia eos tempore animi.
    </p><p>
      Ut fuga aspernatur et alias ducimus ex suscipit natus. Id rerum rerum non
      corporis quaerat qui vitae fuga et voluptas voluptatem ex excepturi quam
      et nobis distinctio qui quia numquam.
    </p><p>
      Est fugit animi est Quis repellendus eos error Quis. Quo autem earum aut
      doloremque alias id fugiat magnam et earum delectus ut exercitationem
      consequuntur. Quo ducimus optio sed temporibus autem nam ullam sequi aut
      modi dolores aut aperiam commodi qui internos quaerat.
    </p><p>
      Qui mollitia dolor sit tempore pariatur et fugit sunt est obcaecati esse.
      In iure quia hic velit quod vel porro ratione non excepturi rerum.
    </p><p>
      Et porro architecto aut modi deserunt ab voluptatum enim vel voluptatem
      ipsum quo autem perspiciatis ut rerum fugiat est voluptas enim. Aut
      facilis cumque qui sunt illo est possimus impedit sed commodi ipsa. Ut
      distinctio aspernatur vel illo consectetur ex corporis omnis aut rerum
      dicta. Ea pariatur dolor et sunt soluta et nihil sunt nam eaque nobis eos
      pariatur nemo non laudantium impedit.
    </p><p>
      Aut saepe internos et veritatis voluptates non fuga suscipit sed
      laboriosam dolore qui molestias possimus ut doloribus quia. Est internos
      nisi qui voluptatem minima et voluptatibus numquam id minus molestiae et
      omnis omnis sed culpa laudantium non quod quod. Qui officiis galisum sit
      eius doloremque vel labore sunt sed veniam ducimus et quia magni qui
      doloremque corrupti. Eos consequatur magnam ut velit fugit ut ullam
      suscipit et neque nihil sed enim assumenda.
    </p><p>
      Quo enim voluptatum et iure corrupti aut voluptas nemo 33 voluptate natus
      ut rerum blanditiis et consequuntur voluptate. At deleniti voluptate ut
      quod eligendi id commodi explicabo in corporis pariatur vel consequuntur
      quia? Aut dolor illo non recusandae aspernatur eos Quis totam.
    </p><p>
      Qui consequuntur amet hic sint veritatis ab magnam deleniti. Aut
      voluptatem pariatur rem aperiam placeat et exercitationem nesciunt ex
      corrupti galisum qui iusto iure et deleniti quasi et culpa voluptates? Sit
      error exercitationem sit nisi blanditiis sit asperiores omnis.
    </p><p>
      Ab totam reiciendis qui galisum quaerat et possimus omnis aut esse fuga
      sed harum illo. Ut nobis quas 33 incidunt earum qui ducimus dolor id quia
      commodi et repellendus quis. A odio illo et asperiores dolorem 33 autem
      nobis qui dolor ratione vel modi nesciunt rem voluptates nisi in nobis
      voluptatum.
    </p>
  </main>
</PageLayout>
