---
import Button from '@components/Button.astro';
---

<secton>
  <div
    class="prose dark:prose-invert prose-slate prose-h1:font-bold prose-h1:text-4xl prose-p:text-justify prose-img:rounded-xl dark:text-white"
  >
    <h1 id="about">About Me</h1>
    <div>
      <div>Hello, and welcome to my corner of the web!</div>
      <div>
        <p>
          I am a technology enthusiast with a focus on web development and
          open-source contributions. My journey in the tech world has been
          filled with many exciting challenges and continuous learning.
        </p>

        <p>
          Back in 2005, I built my first computer. Later that year, I began
          writing plugins for a very popular game Counter-Strike. A year later,
          I enrolled in college for Software Engineering and that's when I feel
          in love with programming.
        </p>

        <p>
          Since then, I have continuously written programs, honing my
          programming skills. I read a lot of technical books and actively
          participate in coding platforms to enhance my existing skills and
          acquire new ones. Some of these resources can be found further down on
          this page.
        </p>

        <p>
          As of today, I have developed programs using a variety of programming
          languages. The projects I create range from Linux applications to
          websites. I am always looking for a challenge and love working on
          projects that can make a difference in today's world.
        </p>

        <p>
          I am always eager to expand my horizons by taking on new projects,
          particularly those that change the world for the better. I believe we
          should all strive to make the world a better place, and what better
          way than by creating software that enhances our lives!
        </p>
      </div>

      <div class="grid grid-cols-1 gap-4 pt-8 md:grid-cols-2 md:gap-8">
        <Button
          title="Portfolio"
          link="/portfolio"
        />
        <Button
          title="Blog"
          link="/posts"
        />
      </div>

      <h2>Companies</h2>
      <p>
        I currently own <a href="https://soupybutter.com">Soupy Butter</a>, a
        technology-based company dedicated to delivering innovative solutions
        for small businesses. We specialize in:
      </p>

      <ul>
        <li>Web Development</li>
        <li>SaaS</li>
        <li>Cloud Services</li>
        <li>DevOps</li>
        <li>Digital Transformation</li>
        <li>Product Development</li>
        <li>Mobile App Development</li>
        <li>Consulting</li>
      </ul>

      <p>
        Looking for something different? <a href="mailto:sales@soupybutter.com"
          >Contact us</a
        > and lets discuss how we fulfill your needs.
      </p>

      <h2>Why hire us?</h2>

      <p>
        At <a href="https://soupybutter.com">Soupy Butter</a>, we provide
        software solutions that add high value to your business, making you feel
        warm and cozy like eating a bowl of soup on a cold winter day. In
        addition, we ensure a buttery smooth experience for your clients,
        whether internal or external.
      </p>

      <p>
        We care about our work! When you succeed, we succeed, and vice versa. If
        your company is looking for high-quality work, consider contacting <a
          href="mailto:sales@soupybutter.com">Soupy Butter</a
        >.
      </p>

      <p>
        Feel free to <a href="mailto:exiles.prx@gmail.com">contact me</a> if you'd
        like to collaborate on a project or just chat about technology.
      </p>

      <p>Happy coding!</p>
    </div>
  </div>
</secton>
