---
const { link, title } = Astro.props;
---

<a
  class="group relative text-center text-sm font-medium focus:ring-3 focus:outline-hidden no-underline"
  href={link}
>
  <span
    class="block border border-primary/85 bg-primary/85 dark:bg-white text-white dark:text-black px-12 py-3 transition-transform group-hover:-translate-x-1 group-hover:-translate-y-1 font-bold hover:opacity-80"
  >
    {title}
  </span>
</a>
