---
interface PostCardProps {
  title: string;
  date: string;
  tags: string[];
  link: string;
}

const { title, date, tags, link } = Astro.props as PostCardProps;
---

<section>
  <article
    class="rounded-[10px] border border-gray-200 dark:border-slate-700 bg-white dark:bg-slate-800 px-4 pt-12 pb-4 my-4 shadow-sm dark:shadow-slate-900/50 dark-mode-transition"
  >
    <time
      datetime="2022-10-10"
      class="block text-xs text-primary/70 dark:text-white/70"
    >
      {date}
    </time>

    <a
      href={link}
      class="no-underline"
    >
      <h3 class="mt-0.5 text-lg font-medium text-primary dark:text-white hover:text-primary/80 dark:hover:text-white/80 transition-colors">
        {title}
      </h3>
    </a>

    <div class="mt-4 flex flex-wrap gap-1">
      {
        tags.map((tag) => (
          <span class="rounded-full bg-purple-100 dark:bg-purple-100/10 px-2.5 py-0.5 text-xs whitespace-nowrap text-purple-600 dark:text-purple-400">
            {tag}
          </span>
        ))
      }
    </div>
  </article>
</section>
