---
import '@styles/global.css';
import { ClientRouter } from 'astro:transitions';
import Header from '@components/Header.astro';
import Footer from '@components/Footer.astro';

interface Props {
  title?: string;
  description?: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html
  lang="en"
  class="scroll-smooth"
>
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content={description}
    />
    <meta
      name="viewport"
      content="width=device-width"
    />
    <link
      rel="icon"
      type="image/svg+xml"
      href="/favicon.svg"
    />
    <meta
      name="generator"
      content={Astro.generator}
    />
    <title>{title}</title>
    <ClientRouter />
  </head>
  <body
    class="text-primary dark-mode-transition bg-white font-mono dark:bg-slate-900 dark:text-white"
  >
    <div class="flex min-h-screen flex-col">
      <Header />
      <main class="flex-grow">
        <article class="mx-auto max-w-4xl px-4 py-10 sm:px-6 lg:px-8">
          <div
            class="dark-mode-transition rounded-lg bg-gray-100 p-8 shadow-lg dark:bg-slate-800"
          >
            <div
              class="prose prose-lg prose-headings:font-bold prose-headings:text-primary dark:prose-headings:text-white prose-a:text-primary dark:prose-a:text-white prose-img:rounded-lg prose-img:shadow-md dark:prose-invert max-w-none"
            >
              <slot />
            </div>
          </div>
        </article>
      </main>
      <Footer />
    </div>
  </body>
</html>
